.primer-tecto {
    margin-top: 2rem;
}

.container-img-reco-detail {
    width: 100%;
}

.img-reco-detail {
    width: 100%;
}

.container-txt-reco-detail {
    margin: 2rem 0;
    background-color: red;
}