.main-contacto {
    text-align: center;
    margin: 2rem 0; 
}

.container-icons-contacto {
    margin: 2rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.container-icons-contacto > a {
    width: 100px;
    height: 100px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: #DA9795;
    border-radius: 5px;
    transition: .4s ease;
}

img {
    background-color: #DA9795;
}

.container-icons-contacto > a:hover {
    transform: scale(1.1);
}
