.main-recomendaciones {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-recomedaciones {
  text-align: center;
  padding: 2rem 0;
}

.section-recomendaciones {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 2rem 0;
}

.link-recomendacion {
  transition: 0.3s ease;
}

.link-recomendacion:hover {
  filter: opacity(80%);
}

.container-img-recomendaciones {
  width: 100%;
  height: auto;
}

.img-recomendaciones {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.categoria-recomendaciones {
  margin-top: 0.5rem;
  color: rgb(84, 84, 84);
}

.title-item-recomendaciones {
  font-weight: bold;
}

.descripcion-recomendaciones {
  max-height: 200px;
  /* scroll-behavior: auto; */
  overflow: hidden;
}

@media (max-width: 480px) {
  .section-recomendaciones {
    grid-template-columns: 1fr;
  }
}
